--find-links https://download.pytorch.org/whl/torch/
--find-links https://download.pytorch.org/whl/torchvision/
torch==2.8.0+cu129
torchvision==0.23.0+cu129
onnxruntime-gpu==1.22.0
joblib
numba
numpy
scipy
librosa
llvmlite
fairseq @ git+https://github.com/One-sixth/fairseq.git
faiss-cpu
gradio==3.34.0
Cython
pydub
soundfile
ffmpeg-python
tensorboardX
Jinja2
json5
Markdown
matplotlib
matplotlib-inline
praat-parselmouth
Pillow
resampy
scikit-learn
tensorboard
tqdm
tornado
Werkzeug
uc-micro-py
sympy
tabulate
PyYAML
pyasn1
pyasn1-modules
fsspec
absl-py
audioread
uvicorn
colorama
pyworld
httpx
torchcrepe
fastapi
torchfcpe
ffmpy
python-dotenv
av
FreeSimpleGUI
sounddevice
gradio-client